footer {
  clear: both;
  position: absolute;
  height: 40px;
  margin-top: -40px;
  width: 100%;
  text-align: center;

  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.push {
  margin-top: 65px;
}