.heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5em 0.5em;
    height: 6em;
    min-width: 0;
}

.FBI {
    font-size: 5em;
    margin-left: 1em;
    font-weight: bold;
}

.fullName {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-right: 3em;
    font-weight: bold;
}

.fullName div:nth-child(3) {
    margin-bottom: 0;
    padding-bottom: 0;
}

.logo img {
    height: 6em;
    margin-left: 3em;
}
.footing {
    margin-left: 5.7em;
    margin-bottom: 2em;
    margin-top: 3em;
}

.subtitle {
    font-size: 1.35em;
}

.sentence {
    font-size: 1.25em;
}